<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Components | Strike Oil Case Study</title>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/60c4235413.js" crossorigin="anonymous"></script>
  </head>
  <body class="component-page">

    <main class="container component-page__main">
      <h1>Web Design System</h1>
      <p>
        This is a collection of components based on my study of the design
        system of the
        <a href="https://strikeoil.com">Strike Oil</a> website.
      </p>

      <section class="page-section" id="typography">
        <h2 class="component-page__section-heading">Typography</h2>

        <article id="body-copy" class="component component--is-done">
          <h3 class="component__name">body</h3>
          <div class="component__img">
            <img
              src="./img/Wordmark.png"
              alt="Wordmark"
            >
          </div>
          <div class="component__code">
            <p class="body-copy">
              Throughout history, alchemists, mystics and travelling salesmen have marketed various "cure-alls" to the public and these same marketing tactics
              are used today under the guise of science-backed pharmaceuticals.  While we acknowledge that pharmaceuticals save lives we can also see the ways 
              that over-pathologizing normal range sadness negatively impacts society by creating a standard of happiness that is at odds with the reality of 
              human emotional functioning.  We comment on this over-pathologizing by reflecting on a hypothetical cure for the human experience of existential dread.  
            </p>
          </div>
        </article>

        <article id="headings" class="component component--is-done">
          <h3 class="component__name">h1, h2</h3>
          <div class="component__img">
            <img  src="img/h1.png" alt="h1" >
            <img  src="img/h2.png" alt="h2" >
          </div>
          <div class="component__code">
            <h1>IMPENDING DOOM TEE</h1>
            <h2>50 GONE 50 | SS23</h2>
          </div>
        </article>
        <article id="links" class="component component--is-done">
          <h3 class="component__name">Links</h3>
          <div class="component__code">
            <a href="#!">Learn More</a>
          </div>
        </article>
      </section>

      <!-- Atoms -->
      <section id="atoms" class="page-section">
        <h2 class="component-page__section-heading">Atoms</h2>

        <article id="section-heading" class="component component--is-done">
          <h3 class="component__name">.section-heading</h3>
          <div class="component__img">
            <img
              src="./img/sectionheading.png"
              alt="section heading"
            >
          </div>
          <div class="component__code">
            <h2 class="section-heading">
              50 GONE 50 is a darkly-humored collection that satirizes self-help gurus, miracle-cure potions, and late-night infomercials that prey upon our vulnerabilities.  
              Designer Nats Getty, as someone who has openly dealt with mental health issues and the system that surrounds it, is using the collection to highlight the issue, 
              raising awareness around the dangers of 'cure-all culture' that is now omnipresent on social media.
            </h2>
          </div>
        </article>
      </section>

      <section class="page-section">
        <h2 id="main-nav" class="component-page__section-heading">Main Nav</h2>

        <article class="component component--is-done">
          <h3 class="component__name">.main-nav</h3>

          <div class="component__img">
            <img
              src="./img/pageheader.png"
              alt="Main Nav"
            >
          </div>
          <div class="component__code">
            <nav class="main-nav">
              <h2 class="visually-hidden">Main Menu</h2>
              <ul class="nav-top">
                <li class="nav-top__logo"><a href="https://strikeoil.com/"><img src="img/logo.png" alt="strike oil logo"></a></li>
                <li class="nav-top__option"><a href="#">Shop <i class="fa-solid fa-chevron-down"></i></a></li>
                <li class="nav-top__option"><a href="#">Search</a></li>
                <li class="nav-top__option"><a href="#">Info<i class="fa-solid fa-chevron-down"></i></a></li>
                <li class="nav-top__cart"><a href="#">Cart (#)</a></li>
            </ul>
            </nav>
          </div>
        </article>

        <article id="main-nav__list" class="component component--is-done">
          <h3 class="component__name">.main-nav__list</h3>

          <div class="component__img">
            <img
              src="./img/mainnavlist.png"
              alt="main nav"
            >
          </div>
          <div class="component__code">
            <ul class="nav-top">
              <li class="nav-top__option"><a href="#">Shop <i class="fa-solid fa-chevron-down"></i></a></li>
              <li class="nav-top__option"><a href="#">Search</a></li>
              <li class="nav-top__option"><a href="#">Info<i class="fa-solid fa-chevron-down"></i></a></li>
              <li class="nav-top__cart"><a href="#">Cart (#)</a></li>
            </ul>
          </div>
        </article>
      </section>

      <section class="page-section">
        <h2 id="cover-section" class="component-page__section-heading">
          Cover Section
        </h2>

        <article class="component component--is-done">
          <h3 class="component__name">.cover-section</h3>
          <div class="component__code">
            <article class="cover-section">
              <div class="cover-section__feature-media">
                <img
                  src="img/cover.png"
                  alt="strike oil placeholder image"
                >
              </div>
            </article>
          </div>
        </article>

        <article
          id="cover-section__contents"
          class="component component--is-done"
        >
          <h3 class="component__name">.cover-section__contents</h3>
          <div class="cover">
            <img
              src="./img/cover.png"
              alt="cover section contents"
            >
          </div>
        </article>

        <article id="cover-section--hero" class="component component--is-done">
          <h3 class="component__name">.cover-section .cover-section--hero</h3>
          <div class="component__img">
            <img
              src="./img/hero.png"
              alt="cover section - hero style"
            >
          </div>
          <div class="component__code">
            <article class="cover-section--hero">
              <div class="cover-section__hero-media">
                <img src="img/featured.png" alt="featured clothing">
              </div>
              <div class="cover-section__contents">
                <h2>IMPENDING DOOM TEE</h2>
                <p>$250</p>
                <p>Size:</p>
                <ul class="sizes">
                  <li>XS</li>
                  <li>S</li>
                  <li>M</li>
                  <li>L</li>
                  <li>XL</li>
                </ul>
                <p>
                4 interest-free installments, or from $22.56/mo with <img src="img/shoppay.png" alt="shop pay logo"> <a href="#">Check your purchasing power</a>
                </p>
                <button>Add to Cart <i class="fa-solid fa-arrow-right"></i> </button>
                <button class="shoppay__button">Buy with Shop Pay</button>
                <button class="payment_options--link">More Payment Options</button>
              </div>
            </article>
          </div>
        </article>
      </section>

      <section class="page-section">
        <h2 id="page-footer" class="component-page__section-heading">
          Page Footer
        </h2>
        <article class="component component--is-done">
          <h3 class="component__name">.page-footer</h3>
          <div class="component__img">
            <img
              src="./img/footer.png"
              alt="page footer"
            >
          </div>
          <h3 class="component__name">.page-footer</h3>
          <div class="component__code">
            <footer class="page-footer">
              <div class="footer__column1">
                <ul>
                  <li class="list--category">SHOP</li>
                  <li>BY TYPE</li>
                  <li>BY COLLECTION</li>
                  <li>NEWEST</li>
                  <li>LAST FEW</li>
                  <li>ARCHIVE</li>
                </ul>
             </div>
             <div class="footer__column2">
                  <p class="list--category">SEARCH</p>
            </div>
            <div class="footer__column3">
             <ul>
              <li class="list--category">INFO</li>
              <li>CONTACT</li>
              <li>SHIPPING & RETURNS</li>
              <li>TERMS</li>
              <li>PRIVACY POLICY</li>
              <li>ABOUT</li>
             </ul>
            </div>
            <div class="footer__column4">
             <p>Subscribe to our newsletter to receive special offers and first look at new products.</p>
             <form>
              <input type="email" name="Email Address" value="Email Address">
              <input type="submit" value="Subscribe">
            </form>
            </div>
            <div class="footer__column5">
              <div>
                <p>Strike Oil</p>
              </div>
              <div>
                <p>Email us! Info@strikeoil.com</p>
                <p>Text us! +1 (310) 717-8820</p>
              </div>
              <div>
                <ul>
                  <li>Start a Return or Exchange</li>
                    <li>Terms of Service</li>
                    <li>Privacy Policy</li>
                    <li>Shipping Policy</li>
                    <li>Refund Policy</li>
                    <li>Contact</li>
                </ul>
              </div>
            </div>
            <div class="footer__column6">
              <div>
                <p>© 2024, Strike Oil.</p>
                <p>Powered by Shopify</p>
              </div>
              <div>
                <ul class="paymentaccepted">
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                  <li><img src="img/shoppay.png" alt="visa type"></li>
                </ul>
              </div>
              <div>
                  <select name="currency">
                    <option>USD</option>
                    <option>EU</option>
                    <option>AUD</option>
                    <option>JPY</option>
                    <option>CAD</option>
                  </select>
              </div>
            </div>
            </footer>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>